__pycache__/
*.manifest
*.spec
# This is the settings file extension
*.cfg
# Remove hiding .png to allow test sample uploads
# *.png
# But hide folder instead
screenshots/
# Hide the senstive images with player names
sameplayertag.jpg
sameplayertag100.jpg
otherplayertag.jpg
otherplayertag100.jpg